{% load static %}

<html lang="en">
  <head>
    <title>Login</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}"> <!-- My own CSS file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    <!-- Jquery libraby -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- Bootstrap Javascript libraby -->
  </head>

  <body class="body">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
              <center>
                <h2>Logged out</h2>
                <p>You have been successfully logged out.</p>
                <p><a href="{% url 'login' %}">Log in again.</a></p>
              </center>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
