/*THIS IS THE GENERAL CSS FOR THE COMMON FILES, BELOW I INCLUDED CSS FOR SPECIFIC FILES */

body{
  background-color: #054E93;
  background-size: 100%, 100%;
  height: 100%;
  min-width: 350px;
  width: 100%;
}

.body{
  background-color: #054E93;
}

@media (max-width: 300px) {
    .navbar-header {
        float: none;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        color: #F8F8F8;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.navbar-collapse.collapse.in{
  background-color: #F8F8F8;
  color: #F8F8F8;
}

.navbar-header{
  float: left;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: 15px;
}

.navbar-toggle{
  float: left;
  margin-left: 15px;
}

.container{
  float: left;
  height: 50px;
  width: 100%;
}

.navbar-text{
  font-size: 20px;
  line-height: 20px;
  color: black;
  vertical-align: middle;
  font-weight: bold;
  padding: 0px;
  float: right;
}

.nav-menu{
  width: 100%;
}

/* Todo.CSS*/

.status{
  position: relative;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: #A0A0A0;
  color: #FFF;
  font-family: sans-serif;
  font-size: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.status-date{
  position: relative;
  float: left;
  margin-left: 0px;
  width: 60px;
  margin-right: 10px;
}
.status-time{
  position: relative;
  float: left;
  margin-left: 75px;
}
.status-stats{
  postion: relative;
  float: right;
  margin-right: 20px;
}

/* WEATHER.CSS */
.text{
  margin-top: 70px;
  margin-left: 40px;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
}

.weather{
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
}

/*ABOUT.CSS */
.navbar-text{
  font-size: 20px;
  line-height: 20px;
  color: black;
  vertical-align: middle;
  font-weight: bold;
  padding: 0px;
}

.content{
  position: relative;
  min-height: 100%;
  margin-top: 0px;
}

.info{
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
  color: white;
}
