{% extends 'todolistapp/basis.html' %}

{% block content %}
  <div class="info">
    </br>
    <h1><b>About this site:</b></h1>
    This site is made for the 2id60 Web technology course of the TU Eindhoven.</br>
    On this site I provided a "to-do-list" generator application, which can be </br>
    used for making to do lists. </br></br>
    The to do list itself has several functionalities: </br>
    <ul>
      <li>You can add a "to-do" to the list by typing tekst in the white field saying </br>
        "Enter task." and pressing the light blue "ADD"-button.  </li>
      <li>When a task is done you can click on it and it will become striked-trough </br>
        and light-blue coloured, and a check-mark will appear before the task. </br>
        When you click again on that task the checkmark & strikethrough will disappear. </li>
      <li>You can also delete an added task by pressing the small cross on the right-</br>
        end of the task. </li>
    </ul>
    </br>
    When planning a task/activity it is nice to know the weather, and therefore there </br>
    is a button called "Weather" which shows the weatherforecast for the coming days.</br>
    The weather forecast is provided by <i><u>meteoblue</u></i>. </br>
    One can also see the current date and time in the gray container.
  </div>
{% endblock %}
