{% extends 'todolistapp/basis.html' %}

{% block content %}
  <div class="info">
    </br>
    <h1><b>About this site:</b></h1>
    This site is made for the 2id60 Web technology course of the TU Eindhoven.</br>
    On this site I provided a "to-do-list" generator application, which can be </br>
    used for making to do lists. </br></br>
    The to do list itself has several functionalities: </br>
    <ul>
      <li>You can add a "to-do" to the list by pressing the light "+"-button in the </br>
          top-right corner. This will take you to a page where you can enter your to-do.  </li>
      <li>When you made a mistake and want to edit a task you can go to the "to-do" </br>
          page and click on that task. When you are logged in a button with a pencil </br>
          on it will appear. If you click that button you can edit your to-do. </li>
      <li>When you click on a task-name in the list on the to-do-list page, </br>
          a new window will appear which shows only that task so you can read </br>
          all available information over that to-do.</li>
    </ul>
    </br>
    When planning a task/activity it is nice to know the weather, and therefore there </br>
    is a button called "Weather" which shows the weatherforecast for the coming days.</br>
    The weather forecast is provided by <i><u>meteoblue</u></i>. </br>
    One can also see the current date and time in the gray container.
  </div>
{% endblock %}
