{% load staticfiles %}
<html lang="en">
  <head>
    <title>Welcome to your list</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}"> <!-- My own CSS file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    <!-- Jquery libraby -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- Bootstrap Javascript libraby -->
  </head>

  <body class="body">
    <div class="container">
      <div class="row">
          <div class="col-md-offset-5 col-md-3">
              <div class="form-login">
              <h4>Welcome to your list</h4>
              <h7><center>Please sign up, or login to work with your todolists</center></h7>
              <div class="wrapper">
              <span class="group-btn" id="loginButton">
                </br>
                <a href="{% url 'signup' %}" class="btn btn-primary btn-md">Sign up <i class="fa fa-sign-in"></i></a>
                &emsp;
                <a href="{% url 'login' %}" class="btn btn-primary btn-md">Login <i class="fa fa-sign-in"></i></a>
              </span>
              </div>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>
