{% extends 'todolistapp/basis.html' %}

{% block head %}
  <script>
    function startTime() {
        var today = new Date();
        var day = today.getDate();
        var month = today.getMonth()+1; //January is 0!
        var year = today.getFullYear();

        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        h = checkTime(h);
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('date').innerHTML = day + '/' + month + '/' + year + ",       ";
        document.getElementById('time').innerHTML = h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
  </script>
{% endblock %}

{% block content %}
  <body class="body" onload="startTime()">
    <div class="container status" id="status">
      <div class="status-date" id="date">
      </div>
      <div class="status-time" id="time">
      </div>
      <div class="status-stats" id="stats">
      </div>
    </div>
  </body>
{% endblock %}
