{% load staticfiles %}
<html lang="en">
  <head>
    <title>Weather forecast</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/weather.css' %}">  <!-- My own CSS file-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>   <!-- Jquery libraby -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- Bootstrap Javascript libraby -->
  </head>

  <body class="body">
    <div class="contentWeather">

      <div class="nav-menu">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">

            <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-target=".navbar-collapse" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'todo_page' %}">To do list</a></li>
                <li class="active"><a href="{% url 'weather' %}">Weather</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
              </ul>
              <div class="navbar-header navbar-right">
                <p class="navbar-text"> Welcome: admin </p>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="text">
        Check here the weather before planning your todo's
      </div>

      <div class="weather">
        <iframe src="https://www.meteoblue.com/en/weather/widget/three/blaricum_netherlands_2758868?geoloc=fixed&nocurrent=0&nocurrent=1&noforecast=0&days=7&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&layout=dark"
        frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups" style="width: 805px;height: 533px"></iframe>
      </div>

    </div>
  </body>
</html>
